/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2013, 4:28:34 PM
    Author     : Hassan
*/

h1{
    font-size: x-large;
    font-weight: bold;
    /*color: #777;*/
}
h2{
    font-size:x-large;
    font-weight: bolder;

}

header{
    width:100%;
    padding:20px;
    font-family: 'Ropa Sans', sans-serif;
    text-align: center;
    background-color: #252525; /* Old browsers */
    /*    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);  FF3.6+ 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));  Chrome,Safari4+ 
        background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);  Opera 11.10+ 
        background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);  IE10+ 
        background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );  IE6-9 */
}
header h1{
    font-size:xx-large;
    color:white;

}
body{
    background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
    background-position: left 40px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color:#C0DEED;
    font-family: 'Ropa Sans', sans-serif;
}
input{
    padding:2px;
    margin: 2px;
}

main{
    width:1200px;
    overflow: auto;
    margin: 0 auto;
    box-shadow: 2px;
    z-index: 2;
    font-family: 'Ropa Sans', sans-serif;
}

#container{
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    width: 360px;
    float: left; 
}
#loading-box{
    width:200px;
    height:100px;
    text-align: center;
    border-radius:10px;
    background-color:rgba(214,220,229,.7);
    border:1px solid rgba(68,84,106,1);
    position:absolute;
    /*left: calc(50%-100px);*/
    /*top: calc(50%-50px);*/
    /*left: -webkit-calc(50%-100px);*/
    /*top: -webkit-calc(50%-50px);*/

    top: 300px;
    left:700px;
    z-index:100;
    padding:10px;
    display:none;
    text-size:1em;
    vertical-align: middle;
    line-height: 2em;


}
#loading-box ig{
    width:40px;
    height:40px;
}
/* General */
.area{
    border-radius: 10px;
    background:white;
    margin: 10px 0;
}

.area-header{
    width:100%;
    /*background-color: #f9f9f9;*/
    /*background-color:#F9FAD2;*/
    background-color: rgba(214,220,229,1);
    display:inline-block;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.area-header-new{
    background-color: rgba(185,218,143,1);
}
.highlight-text{
    font-weight: bolder;
}

/* Left Side Bar */

#login-area, #tweet-area{
    width: 100%;
    display:block;
    text-align: center;
}
#login-form,#tweet-form{
    padding:10px;
}
#tweet-text{
    width:96%;
    padding:2%;
    height:60px;
    vertical-align: text-top;
    text-wrap: unristricted;
    resize: none;
}
#tweets-preview-area{
    width:100%;
    background-color: white;
    display:inline-block;
    margin:0 auto;

}
#tweets-preview-feed{
    overflow: auto;
    padding: 0;
    display:inline-block;
    width:100%;

}
#tweet-submit{
    /*float:right;*/
    display: inline-block;
    padding: 5px 5px 5px 20px;
    background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;
    border: 1px solid #ccc;
    margin:3px;
}
#tweet-submit:hover{
    /*font-weight: bold;*/
    /*border:3px solid #ccc;*/
    background-color: #ccc;
}
#tweet-length-label{
    margin:10px;
    /*float:left;*/
}

/* tweetsm */
.tweet{
    border-bottom: 1px solid #a2a2a2;
    background-color:white;
    padding:5%;
    text-align: left;
    width:90%;

}

.tweet img{
    height:50px;
    width: 50px;
    margin:2px;
    float:left;   
}

.tweet h1{
    font-size:1em;
    float:left;
    margin: 0 2px;
}
.tweet p{
    font-size: .75em;
}
.tweet-screen-name{
    font-size:1em;
    margin: 0 2px;
}
.tweet-username{
    font-size:1em;
    color:rgba(68,84,106,1);

    margin: 0 2px;
}

/* Suggestion Area*/
#site-help{
    width:94%;
    padding:2%;
    margin:0 2% 1% 0;
    text-align: left;
    border-radius:10px;
    background-color:#F9FAD2;

}
#hide-site-help{
    float:right;
    font-size: 1em;

    padding:2px;
    margin:2px

}
#hide-site-help:hover{
    font-weight: bolder;
    margin:1px
}
.column-header{
    padding:5px;
    background-color: #1fa1fa;
}
#suggestion-area{
    margin: 10px auto;
    /*position: relative;*/
    width: 800px;
    padding 10px;
    display:inline-block;
    float: right;
    text-align: center;
}
#map-canvas{

    height: 300px;
    width: 98%;
    display: inline-block;
    margin:0 2% 0 0;
    float: none;
}

.suggestion-column{

    text-align: center;
    display:block;
    float:left;
    width:48%;
    padding:0;
    margin: 2% 2% 0 0;
}

/* tags */
.tag{    
    padding: 2%;
    max-width: 96%;
    word-wrap:  break-word;
    /*font-size: large;*/
    text-align:center;
    display: inline-block;
    /*display: inline-block;*/
}

.tag-hidden{
    display: none;
    visibility: hidden;
}

.tag:hover{
    background-color:#C0DEED;
    cursor: pointer; cursor: hand;
}

.borders{
    border: 1px solid #C0DEED;
}


